/**************************
Table of contents:
---------------------------
0. Sass Variables
1. CSS Reset
2. Custom CSS Styles
**************************/

/*** 0. Sass variables ***/

$neutralColor: #bbb;

/*** 1. CSS Reset ***/

// h2 {
//     font-size: 1.8rem;
// }

footer {
    padding: 2.0rem 0;
}

/*** 2. Custom CSS Styles ***/

.container {
    max-width: 70%;
    margin: 0 auto;
}

.ui-container {
    padding: 4.0rem;
    border-width: 1px;
    border-style: solid;
    border-color: $neutralColor;
}

.recipe-block {
    padding: 1.0rem;
    border-width: 1px 0;
    border-style: solid;
    border-color: $neutralColor; 
    list-style-type: none;
}

.recipe-title {
    cursor: pointer;
}

.recipe-controls {
    text-align: right;

    &__item {
        padding: 0.5rem;    
        font-size: 1.5rem;
        cursor: pointer;
    }    
}

.btn-tip {
    padding: 0 0.5rem;
    font-size: 0.8rem;
}

.add-ingredient {
    display: inline-block;
}

.added-ingredient {
    margin-right: 0.5rem; 
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: $neutralColor;

    &__controls {
        cursor: pointer;
    }
}

// .hidden {
//     height: 0;
//     margin: 0;
//     overflow: hidden;
// }

// #add-recipe-form/*, .recipe-info*/ {
//     max-height: 0;
//     margin: 0;
//     overflow: hidden;
//     transition: max-height 1.0s linear;    
// }

// #add-recipe-form.unhid {
//     max-height: 300px;
//     margin: inherit;
//     overflow: none;
// }